.navComp {
  box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.5);
}
.brand {
  margin-left: 20px;
}
.red {
  color: rgb(194, 0, 0);
}
@media only screen and (max-width: 578px) {
  .navComp {
    height: 50px;
  }
  .brand {
    font-size: 20px;
    font-weight: 800;
    margin-left: 10px;
  }
  .mobile {
    transform: scale(0.8);
  }
}
